src/lib/node_modules
.DS_Store
bundle.js
dist/
public/*.js
bower_components
__pycache__
*.pyc
bin
obj
*.db
*.sqlite3
.vscode
public/bundle.js
.idea
*.idea
.idea/**
.idea/*
.idea/*.xml
.idea/
.idea/workspace.xml
